<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="resetPasswordForm" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="newPassword" required>
        <label for="password">Repetir Contraseña:</label>
        <input type="password" id="passwordCopy" name="newPasswordCopy" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>

</html>